<div class="message-wrap <%= message.sender == current_user ? 'sent' : 'received' %>" data-value="<%= "user_#{current_user.id}" %>">
  <div class="message">
    <div class="sender">
      <%= message.sender.name %>
    </div>
    <div class="message-text">
      <%= message.content %>
    </div>
  </div>
</div>
