<div class="send-message-wrap">
  <%= form_with(model: Message.new, url: (room ? room_messages_path(room) : user_messages_path(user)),
                method: :post, format: :turbo_stream, data: { controller: "message" }) do |form| %>
    <div class="send-message">
      <div class="input-message">
        <%= form.text_field :content, placeholder: 'Message...', autofocus: true, class: 'form-label',
                            data: { message_target: 'output' } %>
      </div>
      <div><%= form.submit 'Send', class: 'btn btn-primary', data: { 'action': 'click->message#clear' } %></div>
    </div>
  <% end %>
</div>
