.header {
  margin: 2em 0;
}

.list-rooms {
  height: 107px;
  overflow-y: scroll;
  margin: 10px 0;
}

.new-room {
  margin-top: 10px;

  .input-room {
    margin-right: 5px;
    flex-grow: 1;
  }
}

.list-message-wrap {
  background-color: #424242;

  h4 {
    text-align: center;
    color: white;
  }

  .list-message {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    padding-right: 23px;

    .sent {
      text-align: right;

      .message {
        background-color: #0d6efd !important;
      }
    }

    .message-wrap {
      margin: 5px 0;
      transition: 0.5s all;

      .message {
        padding: 5px 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: #445c64;
        text-align: left;
        color: white;
        font-size: 12px;
        max-width: 90%;
        word-wrap: break-word;

        .sender {
          font-weight: 600;
          margin-bottom: 5px;
        }

        .message-text {
        }
      }
    }
  }

  .send-message-wrap {
    padding: 10px;

    .send-message {
      display: flex;

      .input-message {
        flex-grow: 1;
        margin-right: 5px;
      }
    }
  }
}

.list-group {

  .user {

    a {
      display: block;
      text-decoration: none;
    }
  }
}

footer {
  height: 2em;
}

#notices {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 2;
  max-width: 300px;
  width: 100%;
  @media (max-width: 575px) {
    max-width: 150px;
  }

  div {
    opacity: 1;
    transition: height 1s ease-out, margin 1s ease-out, padding 1s ease-out, opacity 0.1s ease-out;
    font-size: 12px;
    @media (max-width: 575px) {
      padding: 10px;
    }
  }

  .alert-notice {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }

  .alert-alert {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
}